Descripción: La empresa para la que trabajamos dispone de una base de datos que contiene información sobre el número de personas censadas en las distintas Comunidades Autónomas españolas desde 1998 hasta 2022. El objetivo es enriquecer estos datos con información sobre la generación de energía renovable y no renovable, utilizando la API de REData, la cual proporciona información sobre el mercado energético en España. Puedes encontrar la documentación de la API aquí.

1. Extracción de Datos a Nivel Nacional:
Extraer datos de generación de energía renovable y no renovable a nivel nacional desde el 1 de enero de 2011 hasta el 31 de diciembre de 2022. La información debe ser recopilada a nivel mensual.
Transformar los datos para incluir una columna nueva que identifique si la energía es renovable o no renovable.

In [ ]:
import pandas as pd
import requests
import re

In [4]:
#url_api_electrica= "https://apidatos.ree.es/es/datos/generacion/estructura-generacion?start_date=2011-01-01T00:00&end_date=2011-12-31T23:59&time_trunc=month"
diccionario_energia={"tipo_energia":[], "tipo_generacion":[], "fecha":[], "valor":[]}

for año in range(2011, 2023):
    url_api_electrica= f"https://apidatos.ree.es/es/datos/generacion/estructura-generacion?start_date={año}-01-01T00:00&end_date={año}-12-31T23:59&time_trunc=month"
    
    llamada_api_electrica=requests.get(url_api_electrica)
    
    electrica_json=llamada_api_electrica.json()
    
    for i in electrica_json["included"]:
        for k in i ["attributes"]["values"]:
            diccionario_energia["tipo_energia"].append(i["type"])
            diccionario_energia["tipo_generacion"].append(i["attributes"]["type"])
            diccionario_energia["fecha"].append(k["datetime"])
            diccionario_energia["valor"].append(k["value"])
        

df_energia=pd.DataFrame(diccionario_energia)
df_energia

,tipo_energia,tipo_generacion,fecha,valor
0,Hidráulica,Renovable,2011-01-01T00:00:00.000+01:00,5.119512e+06
1,Hidráulica,Renovable,2011-02-01T00:00:00.000+01:00,2.998051e+06
2,Hidráulica,Renovable,2011-03-01T00:00:00.000+01:00,3.910363e+06
3,Hidráulica,Renovable,2011-04-01T00:00:00.000+02:00,3.537938e+06
4,Hidráulica,Renovable,2011-05-01T00:00:00.000+02:00,2.797500e+06
...,...,...,...,...
2482,Generación total,Generación total,2022-08-01T00:00:00.000+02:00,2.528779e+07
2483,Generación total,Generación total,2022-09-01T00:00:00.000+02:00,2.366389e+07
2484,Generación total,Generación total,2022-10-01T00:00:00.000+02:00,2.195674e+07
2485,Generación total,Generación total,2022-11-01T00:00:00.000+01:00,2.157244e+07
2486,Generación total,Generación total,2022-12-01T00:00:00.000+01:00,2.222615e+07